{% extends 'base.html' %} {%block css%} {%endblock%} {%block
title%}Login{%endblock%} {%block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/society/">SOCIETY </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-right: 50px">
        <li class="nav-item active">
          <a class="nav-link btn btn-primary" href="/society/">Home </a>
        </li>
        <li class="nav-item" style="margin-left: 50px">
          <a href="/logout" class="nav-link btn btn-primary">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
{% with messages =
get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %}
</ul>
{% endif %} {% endwith %} {% for person in persons%}
<div class="card" style="width: 36rem;margin-top: 50px;">
<form
  action="/society/requests/"
  enctype="multipart/form-data"
  method="POST"
  class="border border-primary"
>
  <div class="form-group row">
    <label for="staticname" class="col-sm-2 col-form-label">NAME</label>
    <div class="col-sm-10">
      <input
        type="text"
        readonly
        class="form-control-plaintext"
        id="staticname"
        value="{{person[1]}}"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="staticemail" class="col-sm-2 col-form-label">email</label>
    <div class="col-sm-10">
      <input
        type="text"
        readonly
        class="form-control-plaintext"
        id="staticemail"
        value="{{person[2]}}"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="staticname" class="col-sm-2 col-form-label">Aadhar</label>
    <div class="col-sm-10">
      <input
        type="text"
        readonly
        class="form-control-plaintext"
        id="staticname"
        name="aadhar"
        value="{{person[5]}}"
      />
    </div>
  </div>

  
    
      <button type="submit" class="btn btn-primary">approve request</button>
    
  </div>

</form>
</div>
{%endfor%} {%endblock%}
