{% extends 'base.html' %} {%block css%}
<style>
  form {
    margin-top: 100px;
    margin-left: 100px;
  }
</style>

{%endblock%} {%block title%}Login{%endblock%} {%block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/farmer/">SOCIETY </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-right: 50px">
      <li class="nav-item active">
        <a class="nav-link btn btn-primary" href="/farmer/">Home </a>
      </li>
      <li class="nav-item" style="margin-left: 50px">
        <a href="/logout" class="nav-link btn btn-primary">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endfor %}
</ul>
{% endif %} {% endwith %} {%for farmer in farmers%}
<div class="card" style="width: 24rem">
  <div class="card-body">
    <form action="/farmer/updateprofile/" method="POST">
      <label for="name">NAME:</label>
      <input
        type="text"
        placeholder="{{farmer[1]}}"
        id="name"
        name="name"
        value="{{farmer[1]}}"
      />
      <br /><br />
      <label for="email">EMAIL:</label>
      <input
        type="text"
        placeholder="{{farmer[2]}}"
        id="email"
        name="email"
        value="{{farmer[2]}}"
      />
      <br /><br />
      <label for="mobile">MOBILE:</label>
      <input
        type="text"
        placeholder="{{farmer[4]}}"
        id="mobile"
        name="mobile"
        value="{{farmer[4]}}"
      />

      <button type="submit" class="btn btn-success">update</button>
    </form>
  </div>
</div>

{%endfor%} {%endblock%}

<!-- <h5 class="card-title"><strong>{{farmer[1]}}</strong></h5>
    <p class="card-text"><strong>EMAIL:</strong>{{farmer[2]}}</p>
    <p class="card-text"><strong>Aadhar:</strong>{{farmer[5]}}</p>
    <a href="/farmer/update/" class="btn btn-primary">UPDATE</a> -->
